.form__container{
    max-width: 393px;
    width: 100%;
    height: 373px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    top: calc(50% - 373px /2);
}

.form{
    width: 100%;
    min-height: 100%;
}

.form__header{
    width: 100%;
    min-height: 49px;
    background-color: #eaeaea;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 27px 14px 31px;
}

.form__title{
    color: #575757;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 22px;
}

.form__days-counter{
    display: flex;
    max-width: 60px;
    width: 100%;
    justify-content: space-around;
    color: #666666;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 21px;
}

.form__body{
    padding: 15px 31px 63px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
}

.form__dates-subtitle{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 21px;
}

.form__inputs-group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 6px;
}

.form__input-wrapper{
    display: flex;
    flex-direction: column;
}
.form__input{
    border: none;
    border-bottom: 1px solid #d0d0d0;
    width: 144px;
}

.form__select-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    width: 100%;
}

.form__select{
    border: none;
    margin-top: 6px;
    background-color: #e9e9e9;
    width: 100%;
    border-radius: 3px;
    color: #000000;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 18px;
    height: 41px;
    padding: 0 15px 0 17px;
}

.form__footer{
    width: 100%;
    min-height: 77px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form__btn{
    width: 154px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #d0d0d0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: normal;
}

.form__send-btn{
    background-color: #48ba46;
    color: #ffffff;
}