tbody:nth-child(2) .employeeКRow {
    border-left: 3px solid rgb(155, 153, 255);
}
tbody:nth-child(3) .employeeКRow {
    border-left: 3px solid rgb(122, 175, 255);
}
tbody:nth-child(4) .employeeКRow {
    border-left: 3px solid rgb(255, 153, 153);
}
tbody:nth-child(5) .employeeКRow {
    border-left: 3px solid rgb(255, 167, 104);
}
/*.vacation-cell_ui-start.vacation-cell_unpaid:before,
.vacation-cell_ui-start.vacation-cell_paid:before{
    top: 2px;
    left: 1px;
}
.vacation-cell_ui-end.vacation-cell_unpaid:before,
.vacation-cell_ui-end.vacation-cell_paid:before{
    left: -2px;
}
.vacation-cell_ui-start.vacation-cell_unpaid,
.vacation-cell_ui-start.vacation-cell_paid{
    position: absolute;
    border: none;
}*/
.dayCell {
    min-width: 33.64px;
    max-height: 32.73px;
}
.vacation-cell_paid,
.vacation-cell_unpaid{
    border-left: none;
    border-right: none;
}
.vacation-cell_paid:before,
.vacation-cell_unpaid:before
{
    content: '';
    display: block;
    position: relative;
    min-width: 33.64px;
    min-height: 26px;
}
.vacation-cell_paid:before,
.vacation-cell_unpaid:before{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.vacation-cell_paid.vacation-cell_ui-start:before,
.vacation-cell_unpaid.vacation-cell_ui-start:before{
    border-radius: 3px 0 0 3px;
}
.vacation-cell_paid.vacation-cell_ui-end:before,
.vacation-cell_unpaid.vacation-cell_ui-end:before{
    border-radius: 0 3px 3px 0;
}
.vacation-cell_unpaid.vacation-cell_ui-start:before,
.vacation-cell_paid.vacation-cell_ui-start:before{
    border-left: 1px solid transparent;
}
.vacation-cell_unpaid.vacation-cell_ui-end:before,
.vacation-cell_paid.vacation-cell_ui-end:before {
    border-right: 1px solid transparent;
}

.vacation-cell_ui-start.vacation-cell_ui-end:before {
    left: 0;
    border-radius: 3px
}
tbody:nth-child(2) .vacation-cell_paid:before {
    background-color: rgb(155, 153, 255);
}
tbody:nth-child(2) .vacation-cell_unpaid:before {
    background-color: rgba(155, 153, 255, .1);
}
tbody:nth-child(2) .vacation-cell_paid:before,
tbody:nth-child(2) .vacation-cell_unpaid:before {
    border-color: rgb(155, 153, 255);
}

tbody:nth-child(3) .vacation-cell_paid:before {
    background-color: rgb(122, 175, 255);
}
tbody:nth-child(3) .vacation-cell_unpaid:before {
    background-color: rgba(122, 175, 255, .1);
}
tbody:nth-child(3) .vacation-cell_paid:before,
tbody:nth-child(3) .vacation-cell_unpaid:before {
    border-color: rgb(122, 175, 255);
}

tbody:nth-child(4) .vacation-cell_paid:before {
    background-color: rgb(255, 153, 153);
}
tbody:nth-child(4) .vacation-cell_unpaid:before {
    background-color: rgba(255, 153, 153, .1);
}
tbody:nth-child(4) .vacation-cell_paid:before,
tbody:nth-child(4) .vacation-cell_unpaid:before {
    border-color: rgb(255, 153, 153);
}
tbody:nth-child(5) .vacation-cell_paid:before {
    background-color: rgb(255, 167, 104);
}
tbody:nth-child(5) .vacation-cell_unpaid:before {
    background-color: rgba(255, 167, 104, .1);
}
tbody:nth-child(5) .vacation-cell_paid:before,
tbody:nth-child(5) .vacation-cell_unpaid:before {
    border-color: rgb(255, 167, 104);
}
.type-text {
    position: relative;
    color: #000;
    font-size: 12px;
    display: inline;
    top: -23px;
    z-index: 1;
}
