body {
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chosenMonth {
  font-size: 32px;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.outputCalendar {
  display: flex;
}

.outputDay {
  border-bottom: none;
  border-left: none;
  padding: 5px;
  text-align: center;
  color: rgb(33, 33, 33);
  font-size: 12px;
}

.outputDate {
  text-align: center;
  color: rgb(56, 56, 56);
  font-size: 14;
}

.outputItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 34px;
  padding: 8px 6px;
  border: 1px solid rgb(192, 192, 192);
}

.weekend {
  background: #f0f0f0;
}
